*{
    margin: 0!important;
    padding: 0!important;
    font-family: 'Poppins', sans-serif!important;
}

#logoContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%!important;
}

.logo img{
    width: 300px;
}

.prici{
    width: 100%;
}

#divPrici{
    width: 85vw;
    background-color: #171717;
    border-radius: 15px;
    margin-top: 0!important;
}

#infoLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60!important;
}

#wel-info{
    margin: 0!important;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    align-items: center;
}

#wel-info h1{
    margin: 4%!important;
    margin-bottom: 0!important;
    color: #fff!important;
    font-size: 20pt!important;
    font-weight: 800!important;
}

#wel-info h2{
    margin-top: 0!important;
    margin: 4%!important;
    color: #B4ADAD!important;
    font-size: 20pt!important;
    font-weight: 800!important;
}

#login{
    margin: 2%!important;
}

#login p{
    display: flex;
    justify-content: flex-start;
    margin: 1%!important;
    color: #B4ADAD!important;
    font-size: 12pt!important;
    font-weight: 600!important;
}

#eventRegister{
    color: #5470FF!important;
    font-size: 12pt!important;
    font-weight: 600!important;
    background: none!important;
    border: none;
}

#destaque:hover{
    color: #fff!important;
    cursor: pointer;
}

#input-login{
    display: flex;
    padding: 15px!important;
    width: 100%;
    height: 8vh;
    border: solid 3px #5470FF;
    border-radius: 15px;
    margin-bottom: 5%!important;
    color: #000!important;
    font-size: 12pt!important;
    font-weight: 600!important;
}

#input-login:focus{
    outline: none!important;
}

#input-login::placeholder{
    color: #B4ADAD!important;
    font-size: 12pt!important;
    font-weight: 600!important;
}

#input-login:focus::placeholder{
    color: #5470FF!important;
    font-size: 12pt!important;
    font-weight: 600!important;
}

#input-login:focus{
    border: solid 3px #B4ADAD!important;
}

#btn-login{
    width: 100%;
    padding: 20px!important;
    border: solid 3px white;
    border-radius: 15px;
    background-color: #5470FF;
    color: #fff!important;
    font-size: 12pt!important;
    font-weight: 600!important;
    text-decoration: none!important;
}

#fala{
    color: #B4ADAD!important;
    font-size: 12pt!important;
    font-weight: 600!important;
    display: flex;
    margin-top: 5%!important;
}

#btn-login:focus{
    outline: none!important;
}

#btn-login:active {
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

#btn-login:hover {
    background-color: blue!important;
    border-color: white!important;
    color: white!important;
    cursor: pointer;
}

#qr-img img{
    width: 60%!important;
    margin: 10%!important;
}

#qr-img{
    border: solid 3px #5470FF!important;
    border-radius: 15px!important;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%!important;
}

#qr-img:hover{
    border: solid 3px #fff!important;
    cursor: pointer;
}

#qr-img:focus{
    outline: none!important;
}

#QR{
    margin-top: 3%!important;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%!important;
}

#qr-p{
    color: white!important;
    font-size: 14pt!important;
    font-weight: 600!important;
    margin: 2%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#content{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#content label{
    color: #B4ADAD!important;
    font-size: 16pt!important;
    font-weight: 800!important;
    margin: 2%!important;
    display: flex;
    flex-direction: column;
}

#content button{
    margin: 5%!important;
    width: 40%;
    height: 6vh;
    border: solid 3px white;
    border-radius: 15px;
    background-color: #5470FF;
    color: #fff!important;
    font-size: 10pt!important;
    font-weight: 600!important;
}

#content input{
    padding: 15px!important;
    width: 90%;
    height: 8vh;
    border: solid 3px #5470FF;
    border-radius: 15px;
    margin-left: 5%!important;
    color:#000;
    font-size: 12pt!important;
    font-weight: 600!important;
}

#content input:focus{
    outline: none!important;
}

#content button:focus{
    outline: none!important;
}

#content button:active {
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
  
}

#content button:hover {
    background-color: blue!important;
    border-color: white!important;
    color: white!important;
    cursor: pointer;
}

#content input::placeholder{
    color: #B4ADAD!important;
    font-size: 12pt!important;
    font-weight: 600!important;
    text-shadow: 0 0 0 3px #000!important;
    cursor: pointer;
}

nav{
    border-bottom: solid 2px black!important;
}

nav img{
    width: 150px!important;
    margin: 0!important;
}

nav img :active{
    outline: none!important;
}

nav{
    transition: all 0.3s ease-in-out!important;
}

nav button{
    background-color: #5470FF!important;
    border: solid 3px black!important;
    margin: 3%!important;
}

nav button:hover{
    background-color: blue!important;
    border: solid 3px black!important;
}

#cSala{
    padding: 10!important;
    border: black solid 3px!important;
    border-radius: 10px;
    background-color: white!important;
    color: #5470FF!important;
    font-size: 10pt!important;
    font-weight: 800!important;
    margin: 5%!important;
}

#cSala:active{
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

#rooms{
    margin: 2%!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rooms:focus{
    outline: none!important;
}

#rooms button{
    width: 48%!important;
    height: 10vh;
    border: solid 3px black!important;
    border-radius: 15px;
    background-color: #5470FF;
    color: #fff!important;
    font-size: 24px!important;
    font-weight: 800!important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 4px #000;
}

#divSalas{
    display: flex;
    justify-content: center!important;
    align-items: center!important;
    flex-direction: column!important;
}

#sala-disp{
    width: 80%;
    height: 12vh;
    background-color: white;
    border-radius: 15px;
    border: #000 solid 3px;
    margin-bottom: 3%!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#img-sala{
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-sala img{
    width: 70px;
    height: 70px;
    border-color: black;
    border: solid 3.5px;
    border-radius: 50px;
    box-shadow: 0 0px 4px #000;
}

#nome-sala{
    display: flex;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 0 0px 2px #000;
    margin: 3%!important;
    width: 40%;
}

#priva-sala{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: transparent;
    margin-right: 3%!important;
    margin-left: 3%!important;
    font-size: 0.9rem;
    font-weight: 800;
    text-shadow: 0 0px 1px #000;
    text-decoration: none;
    color: #000;
}

#priva-sala:hover{
    cursor: pointer;
}

#priva-sala:focus{
    outline: none!important;
}

#divCreate{
    border-radius: 15px;
    background-color: #171717;  
    width: 70vw;
    margin-left: 15%!important;
    margin-bottom: 2%!important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.room-label {
    width: 30%;
    color: #B4ADAD!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-name{
    width: 97.5%;
    margin-left: 2.5%!important;
    height: 8vh;
    border: solid 3px #5470FF;
    border-radius: 15px;
    padding: 15px!important;
    color: black!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}
  
.room-name:focus{
    outline: none!important;
}

.room-checkbox{
    width: 4vw;
    height: 3vh;
    padding: 15px!important;
}

.room-checkbox-label{
    width: 30%;
    color: #B4ADAD;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    text-align: center;
}

.room-button{
    width: 40%;
    height: 8vh;
    border: solid 3px white;
    border-radius: 15px;
    background-color: #5470FF;
    color: #fff!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    margin: 2%!important;
}

.room-button:hover{
    cursor: pointer;
}

.room-button:focus{
    outline: none!important;
}

.room-button:active{
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

.room-exit-button{
    width: 16.5%;
    height: 8vh;
    border: solid 3px white;
    border-radius: 15px;
    background-color: #5470FF;
    color: #fff!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    margin-top: 2%!important;
}

.room-private{
    width: 250px;
    height: 8vh;
    border: solid 3px #5470FF;
    border-radius: 15px;
    background-color: white;
    color: black;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    margin: 2.5%!important;
    padding: 15px!important;
}

.room-private:hover{
    cursor: pointer;
}

.room-private:focus{
    outline: none!important;
    border-color: #B4ADAD;
}

.tittle-create{
    color: #fff!important;
    font-size: 24px!important;
    font-weight: 800!important; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px!important;
}

#title-sala{
    color: black!important;
    font-size: 15px!important;
    font-weight: 800!important; 
    text-align: center;
    text-shadow: 0 0 2px 5px #000!important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px!important;
}

#chat{
    width: 100%;
    height: 75vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

#chat-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
    border-bottom: solid 1px black;
    padding: 10px!important;
}

#chat-box-text{
    width: 100%;
    text-align: left;
    color: black!important;
    font-size: 1rem;
    font-weight: 800!important;
    
}

#nome-user{
    color: #5470FF!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#chat-box-text span{
    color: #5470FF!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#input-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 15px!important;
}

#input-chat{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: solid 3px #5470FF;
    display: flex;
    align-items: center;
    padding: 15px!important;
    background-color: #171717!important;
    color: white!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#input-chat:focus{
    outline: none!important;
}

#input-chat::placeholder{
    color: #B4ADAD!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#input-chat:hover::placeholder{
    color: #5470FF!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#btn-chat{
    width: 65%;
    height: 10vh;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5470FF!important;
    color: white!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    margin-left: 30%!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input-chat:focus{
    outline: none!important;
}

#btn-chat:hover{
    cursor: pointer;
}

#btn-chat:active{
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

#test{
    display: flex;
    align-items: center!important;
    justify-content: center!important;
    flex-direction: column!important;
    width: 100%;
    height: 100%;
    margin-top: 7%!important;
}

#info2{
    width: 40vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-color: #171717;
    border-radius: 15px;
}

#info2-h1{
    color: white!important;
    font-size: 2.0rem!important;
    font-weight: 800!important;
    text-align: center;
    padding: 30px!important;
}

#info2-input, #info2-btn{
    width: 90%;
    height: 12vh;
    margin-left: 5%!important;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-top: 5%!important;
    margin-bottom: 5%!important;
}

#info2-input input{
    width: 100%;
    height: 12vh;
    border-radius: 15px;
    border: solid 3px #5470FF;
    padding: 15px!important;
    color: black!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    display: flex;
    align-items: center;
}

#info2-btn a{
    width: 70%;
    height: 12vh;
    margin-left: 15%!important;
    border-radius: 15px;
    border: solid 3px white;
    background-color: #5470FF!important;
    color: white!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info2-btn a:hover{
    cursor: pointer;
}

#info2-btn a:active{
    background-color: blue!important;
    border: solid 3px white!important;
    color: white!important;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
    cursor: pointer;
    transform: translate(0, 2px);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.3);
}

#info2-input input:focus{
    outline: none!important;
    border-color: #B4ADAD;
}

#info2-input input::placeholder{
    color: #B4ADAD!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}

#info2-input input:hover::placeholder{
    color: #5470FF!important;
    font-size: 1.1rem!important;
    font-weight: 800!important;
}